.active
{
    border-top: 1.5px white solid;
}



.container-fluid {
    margin: 0;
    padding: 0;
}

body {
    background: #F9FFF4;
    width: 100%;
}

header {
    background: #ff3a20;
    padding: 2%;
}

form input {
border:none;
}

ul {
    list-style-type: none;
}

    ul li {
        font-size: 1em;
    }

header nav ul li a {
    color: white;
}

.sec-nav ul {
    display: flex;
    flex-direction: row;
}

.sec-nav ul {
    justify-content: space-between;
    margin: auto;
}

    .sec-nav ul li {
        color: black;
    }

h3 {
    font-size: 2em;
    color: #29339B;
}


.collapse {
    padding: 1.5%;
}

.answer {
 
    transition: all 0.2s ease-in
}

.form-control {
    border-radius: 0px;
    border: none;
    padding-left: 0px;
    padding-right: 0px;
}



label {
    font-weight: 500;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
}


